@charset "UTF-8";

.formNoticia{
	padding: 3vh 5vw;
	width: 700px;
	border: 2px solid var(--primary-color);
	border-radius: 12px;
	background: rgba(245, 245, 66,0.075);
	margin: 0 auto;
}

.inputTitulo, .inputContenido{
	font-size: 1rem;
	border-radius: 12px;
	padding: 12px 16px;
	width: 20vw;
}

.inputContenido{
	height: 15vh;
	padding: 6px 16px;
	width: 30vw !important;
	resize: none;
}

.inputLabel{
	font-size: 1.2rem;
}

.submitButton {
    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 6px;
    background: var(--primary-button);
    color: #2C2C2C;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.submitButton:hover {
    background: var(--primary-button-hover);
    transform: scale(1.02);
}

